{% extends 'main.html' %}
{% block content %}
{% if page == 'login' %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" value="" placeholder="Enter Username" name="username" id="">
        <label for="">Password</label>
        <input type="password" value="" placeholder="Enter Password" name="password" id="">
        
        <input type="submit" value="Login" name="" id="">
    </form>
    <p>Haven't signed up yet</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Register" name="" id="">
    </form>
    <p>Already signed up</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}